{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="profile-container">

    <div class="profile-card">

        <form method="POST" enctype="multipart/form-data">

            <label for="profile_picture" class="profile-picture">

                {% if user.profilePath %}
                    <img
                        src="{{ asset(user.profilePath) }}"
                        alt="Photo de profil"
                    >
                {% else %}
                    <div class="profile-placeholder">
                        +
                    </div>
                {% endif %}

            </label>

            <input
                type="file"
                name="profile_picture"
                id="profile_picture"
                hidden
                onchange="this.form.submit()"
            >

        </form>

        <h1>{{ user.firstname }} {{ user.name }}</h1>

        <p class="pseudo">
            @{{ user.pseudo }}
        </p>

        <div class="infos">

            <div class="info">
                <span>Email</span>
                <p>{{ user.email }}</p>
            </div>

            <div class="info">
                <span>Points</span>
                <p>{{ user.points }}</p>
            </div>

        </div>

        {% if scoreAdded %}
            <div class="score-message">
                +{{ scoreAdded }} points ajoutés !
            </div>
        {% endif %}

    </div>

</div>

{% endblock %}