{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATOR{% endblock %}

{% block body %}

<h1>Creer une nouvelle question :</h1>
{{ form_start(form) }}

        {{ form_row(form.type) }}
        {{ form_row(form.question) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.clue) }}
        {{ form_row(form.path) }}
        <div class="tags-wrapper" data-prototype="{{ form_widget(form.answer.vars.prototype)|e('html_attr') }}">
        
            {{ form_row(form.answer) }}

            <div id="tags-list">
                {% for tagField in form.answer %}
                    <div class="tag-item">
                        {{ form_widget(tagField) }}
                    </div>
                {% endfor %}
            </div>

            <button type="button" id="add-tag" class="btn-primary btn">Ajouter une réponse</button>
        </div> <br>

        {{ form_row(form.save) }}

{{ form_end(form) }}


{% endblock %}

{% block javascript %}

<script src="{{ asset('js/add-question-form.js') }}"></script>

{% endblock %}